thelma/schemata/Iso.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema
    targetNamespace="http://schemata.cenix-bioscience.com/iso"
    elementFormDefault="qualified"
    xmlns="http://www.w3.org/2001/XMLSchema"
    xmlns:iso="http://schemata.cenix-bioscience.com/iso"
    xmlns:iss="http://schemata.cenix-bioscience.com/isosamplestockrack"
    xmlns:sh="http://schemata.cenix-bioscience.com/shared"
    xmlns:isor="http://schemata.cenix-bioscience.com/isorequest"
    xmlns:mdps="http://schemata.cenix-bioscience.com/moleculedesignpoolset"
    xmlns:r="http://schemata.cenix-bioscience.com/rack"
    xmlns:rl="http://schemata.cenix-bioscience.com/racklayout"
    xmlns:j="http://schemata.cenix-bioscience.com/job"
>
    <import
        schemaLocation="IsoRequest.xsd"
        namespace="http://schemata.cenix-bioscience.com/isorequest"
    >
    </import>
    <import
        schemaLocation="IsoSampleStockRack.xsd"
        namespace="http://schemata.cenix-bioscience.com/isosamplestockrack"
    >
    </import>
    <import
        schemaLocation="MoleculeDesignPoolSet.xsd"
        namespace="http://schemata.cenix-bioscience.com/moleculedesignpoolset"
    >
    </import>

    <import
        schemaLocation="Shared.xsd"
        namespace="http://schemata.cenix-bioscience.com/shared"
    >
    </import>

    <import
        schemaLocation="Rack.xsd"
        namespace="http://schemata.cenix-bioscience.com/rack"
    >
    </import>

    <import
        schemaLocation="RackLayout.xsd"
        namespace="http://schemata.cenix-bioscience.com/racklayout"
    >
    </import>
    <import
        schemaLocation="Job.xsd"
        namespace="http://schemata.cenix-bioscience.com/job"
    >
    </import>
    <complexType
        name="IsoType"
    >
        <complexContent>
            <extension
                base="sh:ResourceType"
            >
                <choice>
                    <element
                        name="link"
                        type="iso:IsoLinkType"
                    >
                    </element>
                    <sequence>
                        <element
                            name="label"
                            type="string"
                        >
                        </element>
                        <element
                            ref="isor:iso_request"
                            minOccurs="0"
                            maxOccurs="1"
                        >
                        </element>
                        <element
                            ref="mdps:molecule_design_pool_set"
                            minOccurs="0"
                            maxOccurs="1"
                        >
                        </element>
                        <element
                            name="status"
                            type="string"
                        >
                        </element>
                        <element
                            name="optimizer_excluded_racks"
                            type="string"
                            minOccurs="0"
                            maxOccurs="1"
                        >
                        </element>
                        <element
                            name="optimizer_required_racks"
                            type="string"
                            minOccurs="0"
                            maxOccurs="1"
                        >
                        </element>
                        <element
                            ref="rl:rack_layout"
                            minOccurs="0"
                            maxOccurs="1"
                        >
                        </element>
                        <element
                            ref="iss:iso_sample_stock_racks"
                            minOccurs="0"
                            maxOccurs="1"
                        >
                        </element>
                        <element
                            name="iso_preparation_plate"
                            type="r:PlateType"
                            minOccurs="0"
                            maxOccurs="1"
                        >
                        </element>
                        <element
                            name="iso_aliquot_plates"
                            type="r:RackCollectionType"
                            minOccurs="0"
                            maxOccurs="1"
                        >
                        </element>
                        <element
                            ref="j:iso_job"
                            minOccurs="0"
                            maxOccurs="1"
                        >
                        </element>
                    </sequence>
                </choice>
            </extension>
        </complexContent>
    </complexType>

    <complexType
        name="IsoCollectionType"
    >
         <choice>
             <element
                 ref="iso:iso"
                 maxOccurs="unbounded"
                 minOccurs="0"
             >
             </element>
             <element
                 name="link"
                 type="iso:IsoCollectionLinkType"
                 maxOccurs="1"
                 minOccurs="0"
             >
             </element>
         </choice>
    </complexType>

    <complexType
        name="IsoLinkType"
    >
        <complexContent>
            <restriction
                base="sh:LinkType"
            >
                <attribute
                    name="rel"
                    type="string"
                    fixed="http://relations.cenix-bioscience.com/iso"
                ></attribute>
            </restriction>
        </complexContent>
    </complexType>

    <complexType
        name="IsoCollectionLinkType"
    >
        <complexContent>
            <restriction
                base="sh:LinkType"
            >
                <attribute
                    name="rel"
                    type="string"
                    fixed="http://relations.cenix-bioscience.com/iso-collection"
                ></attribute>
            </restriction>
        </complexContent>
    </complexType>

    <element
        name="iso"
        type="iso:IsoType"
    >
    </element>

    <element
        name="isos"
        type="iso:IsoCollectionType"
    ></element>

</schema>